.currnecy-input {
  width: 100%;
  margin: 11px auto;
  text-align: left;
}

.currnecy-input--field {
  border-radius: 5px;
  font-size: 22px;
  width: 20%;
  margin-left: 8px;
}

@media only screen and (max-width: 600px) {
  .currnecy-input--field {
    width: 100%;
  }
}
