.main-container {
  text-align: center;
}

.main-container .header {
  background-color: #282c34;
  min-height: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container .header a {
  color: #ffffff;
  margin: 0 20px;
}
